@model TALLERPOON.Models.dbModels.Detallepp

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Detallepp</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdDetallepp" />
            <div class="form-group">
                <label asp-for="IdProd" class="control-label"></label>
                <select asp-for="IdProd" class="form-control" asp-items="ViewBag.IdProd"></select>
                <span asp-validation-for="IdProd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomProd" class="control-label"></label>
                <input asp-for="NomProd" class="form-control" />
                <span asp-validation-for="NomProd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantProd" class="control-label"></label>
                <input asp-for="CantProd" class="form-control" />
                <span asp-validation-for="CantProd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdProv" class="control-label"></label>
                <select asp-for="IdProv" class="form-control" asp-items="ViewBag.IdProv"></select>
                <span asp-validation-for="IdProv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
