@model TALLERPOON.Models.dbModels.Producto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="card text-dark bg-light mb-3">
    <article class="header">
        <h3 class="header">@Html.DisplayFor(model => model.NomProd)</h3><hr>
    </article>
    <div class="card-body">
        <main>
            <aside>
                <img class="imagenprod" src="@Html.DisplayFor(model => model.Imagen)" align="right"><br />

            </aside>
            <header>
                <h5>Precio: $@Html.DisplayFor(model => model.PrecProd)</h5><br />
            </header>
            <br />                <br />
            <br />                <br />
            <br />                <br />
            <br />                <br />
            <hr />

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Cantidad</span>
                <input type="number" class="form-control cantidad" min="1" data-id=@Model.IdProd placeholder="1" value="1">
                <button class="productoag" data-id=@Model.IdProd><i class="fa-solid fa-cart-shopping"></i>Agregar a Carrito</button>
            </div>
        </main>
    </div>
</div>
