@model IEnumerable<TALLERPOON.Models.dbModels.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>



@foreach (var item in Model) {
    <div class="card text-dark mb-3 border-success tarjeta">
        <article class="header">
            <h3 class="header">@Html.DisplayFor(modelItem => item.NomProd)</h3><hr>
        </article>
        <div class="card-body">
            <main>
                <aside>
                    <img class="imagenprod" src="@Html.DisplayFor(modelItem => item.Imagen)" align="right"><br />

                </aside>
                <header>
                    <h5>Precio: $@Html.DisplayFor(modelItem => item.PrecProd)</h5><br />
                </header>
                <br />                <br />
                <br />                <br />
                <br />                <br />
                <br />                <br />
                <hr />
                <form method="get" action="Ventums/Create" name="form">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Cantidad</span>
                        <input type="number" name="precio" hidden="hidden" value="@Html.DisplayFor(modelItem => item.PrecProd)">
                        <input name="cantidad" type="number" class="form-control cantidad" min="1" data-id=@item.IdProd placeholder="1" value="1">
                        <button class="productoag" data-id=@item.IdProd><i class="fa-solid fa-cart-shopping"></i>Vender</button>
                    </div>
                </form>
            </main>
        </div>
    </div>
}

                