@model TALLERPOON.Models.dbModels.Empleado

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Empleado</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomEmpl" class="control-label"></label>
                <input asp-for="NomEmpl" class="form-control" />
                <span asp-validation-for="NomEmpl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelEmp" class="control-label"></label>
                <input asp-for="TelEmp" class="form-control" />
                <span asp-validation-for="TelEmp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RfcEmpl" class="control-label"></label>
                <input asp-for="RfcEmpl" class="form-control" />
                <span asp-validation-for="RfcEmpl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DirEmpl" class="control-label"></label>
                <input asp-for="DirEmpl" class="form-control" />
                <span asp-validation-for="DirEmpl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TurnEmpl" class="control-label"></label>
                <select asp-for="TurnEmpl" class ="form-control" asp-items="ViewBag.TurnEmpl"></select>
            </div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
