@model TALLERPOON.Models.dbModels.Ventum

@{
    ViewData["Title"] = "Create";
}


<h4>Venta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="TotalVent" class="control-label"></label>
                <input asp-for="TotalVent" class="form-control" id="precio" />
                <span asp-validation-for="TotalVent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEmpl" class="control-label"></label>
                <select asp-for="IdEmpl" class ="form-control" asp-items="ViewBag.IdEmpl"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    const paramURL = window.location.search
    console.log(paramURL);

    const parametrosURL = new URLSearchParams(paramURL);
    console.log(parametrosURL)

    for(let valoresURL of parametrosURL){
        console.log(valoresURL);
    }

    const precio = parametrosURL.get('precio');
    const cantidad = parametrosURL.get('cantidad');

    console.info('Precio del producto: ' + precio);
    
    const inputPrecio = document.querySelector("#precio");
            inputPrecio.value =(precio*cantidad);

   
</script>