@model TALLERPOON.Models.dbModels.Ventum

@{
    ViewData["Title"] = "Details";
}

<h1>Orden @Html.DisplayFor(model => model.IdVent)</h1>
<h3>Atendido por: @Html.DisplayFor(model => model.IdEmplNavigation.NomEmpl)</h3>
<h2>Venta realizada el: @Html.DisplayFor(model => model.FechVent)</h2>
<table class="table tablasadmin">
    <thead>
        <tr>
            
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        
            <tr>
                <td>@Html.DisplayFor(model => model.TotalVent)</td>
                
            </tr>
     
    </tbody>
    
</table>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        window.print();
    });
</script>