html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #7b7df3;
}
.cuadro {
    border-radius: 50px;
    background-color: white;
    max-width: 4000px;
    padding: 30px;
}
.espaciocua{
    height: 135px;
    text-align: center;
    align-content: center;
    padding-bottom:10px;
}
.nespacio {
    height: 130px;
    background-color: #87e4e4;
    border-radius: 60px;
    padding: 30px;
}
div.nespacio {
    font-weight: bold;
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: center;
}
.botbl {
    color: white;
    border-radius: 10px;
    box-shadow: 5px 3px 3px #5a21e0;
}
#titulohome {
    text-align: center;
    color: #D94068;
}
.imagenprod {
    height: 250px;
    width: 250px;
    padding: 15px;
    background-color: #960128;
}
.tarjeta {
    padding: 30px;
    border-radius: 30px;
    background-color: #BFECB7;
}
.navbar-custom {
    background-color: #7F34FE;
}
.titulo {
    justify-content: center;
    padding: 10px;
    color: black;
}
.ntit {
    justify-content: center;
    background-color: #BF90EA;
    margin: 4px;
}
.colorabaj{ 
    color: black;

}
