html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #7b7df3;
}
.cuadro {
    border-radius: 50px;
    background-color: white;
    max-width: 4000px;
    padding: 30px;
}
.espaciocua{
    height: 135px;
    text-align: center;
    align-content: center;
    padding-bottom:10px;
}
.nespacio {
    height: 130px;
    background-color: #87e4e4;
    border-radius: 60px;
    padding: 30px;
}
div.nespacio {
    font-weight: bold;
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: center;
}
.botbl {
    color: white;
    border-radius: 10px;
    box-shadow: 5px 3px 3px #5a21e0;
}
#titulohome {
    text-align: center;
    color: #D94068;
}
.imagenprod {
    height: 250px;
    width: 250px;
    padding: 15px;
    background-color: #960128;
}
.tarjeta {
    padding: 30px;
    border-radius: 30px;
    background-color: #BFECB7;
}
.navbar-custom {
    background-color: #7F34FE;
}
.titulo {
    justify-content: center;
    padding: 10px;
    color: black;
}
.ntit {
    justify-content: center;
    background-color: #BF90EA;
    margin: 4px;
}
.colorabaj{ 
    color: black;

}
table {
    background-color: #BEE8A2;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    border: 3px solid red;
}
form {
    background-color: #8AC09D;
    border-radius: 40px;
    padding: 30px;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-49%, -49%);
}

.form input {
     width: 90%;
      height: 30px;
      margin: 0.5rem;
}

.form button {
      padding: 0.5em 1em;
      border: none;
      background: rgb(100, 200, 255);
      cursor: pointer;
}
dl {
    background-color: #E8A2DD;
    border-radius: 30px;
    max-width: 8000px;
}